<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Result</title>
</head>

<body>
<th:block th:include="/_menu"></th:block>

Description: <!--/*@thymesVar id="description" type=""*/-->
<span th:utext="${description}"></span>
<br/>
<h3>Uploaded Files:</h3>

<!--/*@thymesVar id="uploadedFiles" type=""*/-->
<ul th:each="file : ${uploadedFiles}">
    <li th:utext="${file}"></li>
</ul>

<h3>Failed:</h3>
<!--/*@thymesVar id="failedFiles" type=""*/-->
<ul th:each="file : ${failedFiles}">
    <li style="color:red;" th:utext="${file}"></li>
</ul>

</body>
